.page-header {
  width: 100vw;
  position: relative;
  &__top {
    position: fixed;
    width: 100%;
    background-color: #00aa4b;
    height: 48px;
    z-index: 10;
  }
  &__middle {
    position: fixed;
    top:48px;
    width: 100%;
    z-index: 9;
  }
  &__bottom {
    position: fixed;
    width: 100%;
    top: 112px;
    z-index: 8;
  }
}

.page-menu {
  display: flex;
  color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  @media screen and (max-width: 1500px) {
    font-size: 0.85rem;
  }
  &__list {
    display: flex;
    flex: 1 1 auto;
    list-style-type: none;
    margin-right: 30px;
  }
  &__el {
    flex: 1 1 auto;
    height: 28px;
    display: flex;
    padding: 0 10px 0 5px;
    height: 100%;
    align-content: center;
    align-items: center;
    &:last-of-type {
      padding-right: 0;
    }
    &--separated {
      border-right: 1px solid rgba(255, 255, 255, 0.25);
    }
    @media screen and (max-width: 1200px) {
      flex: 1 0 auto;
    }
  }
  a {
    position: relative;
    color: #fff;
    // margin: auto;
  }
  &__mail {
    flex: 0 0 auto;
    margin-left: 15px;
    height: 28px;
    display: flex;
    position: relative;
    height: 100%;
    a {
      position: relative;
      min-height: 28px;
      padding-left: 25px;
      background: url(../img/email.png) no-repeat center left;
      display: flex;
      align-items: center;
      align-content: center;
    }
    @media screen and (max-width: 1200px) {
      margin-left: 20px;
      a span {
        display: none;
      }
    }
    &:hover {
      .page-menu__mail-copybox {
        display: block;
      }
    }
  }
  &__mail-copybox {
    position: absolute;
    color: #fff;
    padding: 15px 35px;
    background-color: #232323;
    box-shadow: 4px 6px 24px rgba(0, 0, 0, 0.49);
    border-radius: 23px;
    z-index: 100;
    bottom: -43px;
    left: -5px;
    display: none;
    cursor: pointer;
    @media screen and (max-width: 1200px) {
      bottom: -33px;
      left: -47px;
      padding: 10px 20px;
    }
    &:hover {
      color: #777;
    }
    &:active {
      color: #444;
    }
  }
  &__phone {
    flex: 0 0 auto;
    margin-left: 15px;
    height: 28px;
    display: flex;
    height: 100%;
    position: relative;
    a {
      position: relative;
      padding-left: 20px;
      background: url(../img/phone.png) no-repeat center left;
      min-height: 28px;
      display: flex;
      align-items: center;
      align-content: center;
    }
    @media screen and (max-width: 1200px) {
      margin-left: 20px;
      a span {
        display: none;
      }
    }
    &:hover {
      .phone__wrapper {
        display: flex;
        align-content: center;
        align-items: flex-start;
        justify-content: space-between;
      }
    }
  }
  .phone {
    &__wrapper {
      width: 754px;
      height: 364px;
      background-color: #fff;
      position: absolute;
      top: 48px;
      right: 0;
      display: none;
      padding: 62px 51px;
      box-shadow: 4px 6px 18px rgba(0, 0, 0, 0.11);
    }
    &__left-side {
      font-family: "Myriad SemiExtended", sans-serif;
      line-height: 1.25rem;
      color: #000;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-content: flex-start;
      max-width: 275px;
      margin-right: 100px;
    }
    &__right-side {
      font-family: "Myriad SemiExtended", sans-serif;
      color: #000;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-content: flex-start;
      max-width: 275px;
    }
    &__form {
      width: 100%;
    }
    &__title {
      font-family: "Myriad Pro", sans-serif;
      font-size: 1.5rem;
    }
    &__label {
      font-weight: 300;
      margin-bottom: 5px;
      font-family: "Myriad Pro", sans-serif;
    }
    &__input {
      height: 30px;
      font-family: "Myriad Pro", sans-serif;
      border: none;
      border-bottom: 2px solid #c6c6c6;
      margin-bottom: 20px;
      width: 100%;
      transition: border ease 0.2s;
      padding-left: 10px;
      &:hover {
        border-bottom: 2px solid #ff9d0c;
      }
    }
    &__submit {
      font-size: 1.125rem;
      line-height: 1;
      font-weight: 400;
      font-family: "Myriad Pro", sans-serif;
      border: none;
      border-radius: 23px;
      background-color: #ffaf2d;
      color: #fff;
      padding: 14px 15px;
      cursor: pointer;
      &:hover {
        background-color: #b4863b;
      }
      &:active {
        background-color: #6e5a3a;
      }
    }
    &__num {
      font-family: "Myriad Pro", sans-serif;
      color: #00aa4b;
      font-size: 1.5rem;
    }
    &__text1 {
      font-weight: 300;
      color: #777;
      margin-bottom: 20px;
    }
    &__text2 {
      font-weight: 300;
    }
    &__list {
      list-style-type: none;
    }
    &__list-elem {
      margin-bottom: 10px;
    }
    &__list-text {
      display: inline-block;
    }
    &__list-link {
      color: #000;
      padding-left: 32px;
      &--phone {
        background: url(../img/phone2.png) no-repeat center left;
        span {
          border-bottom: 1px dashed;
          &:hover {
            border-bottom: none;
          }
        }
      }
      &--viber {
        background: url(../img/viber.png) no-repeat center left;
      }
      &--telegram {
        background: url(../img/telegram.png) no-repeat center left;
      }
      &--whatsapp {
        background: url(../img/whatsapp.png) no-repeat center left;
      }
    }
  }
}

.page-header__middle {
  background-color: #e8e7e7;
  height: 64px;
  .logo {
    flex: 1 0 auto;
    font-size: 2.0625rem;
    color: #121212;
    line-height: 0;
    display: flex;
    align-content: center;
    align-items: center;
    margin-right: 90px;
    &__image {
      margin-right: 8px;
    }
  }
  #search-form {
    flex: 1 1 auto;
    display: flex;
    width: 100%;
    select, input, button {
      color: #777;
      border: none;
    }
  }
  .select-wrapper {
    flex: 0 1 auto;
    height: 35px;
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      border: 6px solid transparent;
      border-top-color: #393939;
      top: 50%;
      transform: translateY(-25%);
      right: 8px;
    }
  }
  #search-category {
    height: 100%;
    width: 100%;
    appearance: none;
    background-color: #f1f1f1;
    border-radius: 5px 0 0 5px;
    padding-left: 12px;
    padding-right: 20px;
    width: auto;
    &::-ms-expand {
      display: none;
    }
  }
  #search-value {
    flex: 1 1 auto;
    height: 35px;
    padding-left: 10px;
  }
  #search-btn {
    flex: 0 0 auto;
    width: 49px;
    height: 35px;
    background: url('../img/search.svg') #ffaf2d no-repeat center;
    border-radius: 0 5px 5px 0;
    &:hover {
      background-color: #d1912b;
    }
    &:active {
      background-color: #92703a;
    }
  }
  .portal {
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 300;
    color: #777;
    margin-left: 50px;
    a {
      display: flex;
      position: relative;
      padding-left: 40px;
      background: url("../img/portal.png") no-repeat center left;
      min-height: 35px;
      span {
        min-width: 90px;
      }
    }
    @media screen and (max-width: 1200px) {
      margin-left: 15px;
      a span {
          display: none;
      }
    }
  }
  .cart {
    margin-left: 38px;
    font-size: 0.875rem;
    line-height: 1rem;
    flex: 1 0 auto;
    a {
      position: relative;
      display: flex;
      padding-left: 40px;
      min-height: 27px;
      background: url("../img/cart.png") no-repeat center left;
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
    }
    &__sum {
      font-weight: 300;
      color: #777;
    }
    &__value {
      color: #171717;
    }
    &__amount {
      color: #ff8c00;
      position: absolute;
      left: 12px;
      top: -7px;
    }
    @media screen and (max-width: 1200px) {
      .cart__amount {
        top: -12px;
      }
      margin-left: 20px;
      a .cart__wrapper {
          display: none;
      }
    }
  }
}

.page-header__bottom {
  background-color: #fff;
  height: 100px;
  box-shadow: 4px 6px 18px rgba(0, 0, 0, 0.11);
  .categories {
    max-width: 100%;
    height: 100%;
    position: relative;
    .glide__track {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    &__link {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      text-align: center;
      &:focus {
        outline: none !important;
      }
    }
    &__img {
      margin-bottom: 5px;
    }
    &__arrow {
      border: 2px solid transparent;
      width: 10px;
      height: 10px;
      position: absolute;
      bottom: 12px;
      transition: transform ease 0.3s;
      background-color: transparent;
      z-index: 1;
      &--left {
        border-top-color: #222;
        border-left-color: #222;
        transform: rotate(-45deg);
        left: -5px;
        &:hover {
          transform: rotate(-45deg) scale(1.2);
        }
        &:active {
          border-top-color: #666;
          border-left-color: #666;
        }
      }
      &--right {
        border-top-color: #222;
        border-right-color: #222;
        transform: rotate(45deg);
        right: -5px;
        &:hover {
          transform: rotate(45deg) scale(1.2);
        }
        &:active {
          border-top-color: #666;
          border-right-color: #666;
        }
      }
    }
    @media screen and (max-width: 1800px) {
      font-size: 0.85rem;
    }
  }
}

.page-header-mobile {
  background-color: #f1f1f1;
  width: 100vw;
  height: 53px;
  &__wrapper {
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    position: relative;
  }
  &__burger {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #fda11c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    flex: 0 0 auto;
  }
  &__burger-line {
    position: relative;
    &, &::before, &::after {
      width: 18px;
      height: 1px;
      background-color: #fff;
    }
    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
    }
    &::before {
      top: -6px;
    }
    &::after {
      top: 6px;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    &-image {
      width: 30px;
      height: 30px;
      margin-right: 4px;
    }
    &-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &-text1 {
      color: #353535;
      font-size: 1.1rem;
    }
    &-text2 {
      color: #777;
      font-family: "Myriad SemiExtended", sans-serif;
      font-size: 0.6rem;
    }
  }
  &__search {
    margin-right: 15px;
    &-label {
      height: 35px;
      display: inline-block;
      cursor: pointer;
    }
    &-img {
      height: 100%;
      width: auto;
    }
    &-wrapper {
      position: absolute;
      display: none;
      width: 100%;
      left: 0;
      top: 53px;
      padding: 10px 0;
      #search-input-mobile {
        flex: 1 0 auto;
        margin-right: 15px;
        border: none;
      }
      button[type="submit"] {
        flex: 0 0 auto;
        color: #34b15b;
        background-color: #fff;
        padding: 3px 13px;
        border: 2px solid #34b15b;
        border-radius: 15px;
        cursor: pointer;
      }
      &.search-opened {
        display: flex;
      }
    }
  }
  &__phone {
    height: 35px;
    margin-right: 15px;
    &-img {
      height: 100%;
      width: auto;
    }
  }
  &__cart {
    height: 35px;
    position: relative;
    &-img {
      height: 100%;
      width: auto;
    }
    &-amount {
      position: absolute;
      color: #fda11c;
      left: 15px;
      top: -7px;
    }
  }
}