@import "../../node_modules/normalize.css/normalize.css";
@import "./fonts.scss";
@import "./links.scss";
@import "../../node_modules/@glidejs/glide/dist/css/glide.core.min.css";

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
a:focus, input:focus, select:focus, textarea:focus, button:focus {
  @media screen and (max-width: 900px) {
    outline: none !important;
  }
  outline: 2px solid rgba(130,130,130,0.7) !important;
  outline-offset: 2px !important;
  z-index: 1;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

html {
  font-family: "Myriad", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1;
}

body {
  background-color: #f5f2f2;
  color: #121212;
  &.blocked {
    overflow: hidden;
  }
}

.menu-mobile {
  display: none;
  background-color: #1D1F20;
  background-image: linear-gradient(145deg, #1D1F20, #404348);
  font-size: 1.2rem;
  padding: 40px 20px;
  &__list {
    flex: 0 0 auto;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  &__el {
    margin-bottom: 20px;
    padding-bottom: 20px;
    a {
      height: 100%;
      width: 100%;
      display: block;
    }
    &--separated {
      border-bottom: 2px solid #fda11c;
    }
  }
  &__mail {
    flex: 0 0 auto;
  }
}
.main-wrapper {
  min-width: 100%;
  min-height: 100vh;
  background-color: #f5f2f2;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  color: #fff;
  width: 256px;
  -webkit-overflow-scrolling: touch;
  display: none;
  min-height: 100vh;
  overflow-y: scroll;
  &-left {
    left: 0;
  }
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  @media screen and (max-width: 900px){
    display: flex;
    flex-direction: column;
  }
}

.container {
  margin: auto;
  width: calc(50vw + 580px);
  max-width: 1545px;
  @media screen and (max-width: 1200px) {
    width: 95vw;
  }
  height: 100%;
  &--header-top {
    display: flex;
    align-items: center;
  }
  &--header-middle {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
  }
  &--top-block {
    display: grid;
    grid-template-areas:  "nav slide sale"
                          "part part part";
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: stretch;
    justify-items: center;
    grid-gap: 20px;
    @media screen and (max-width: 1200px){
      grid-template-areas:  "nav sale"
                            "slide slide"
                            "part part";
      grid-template-rows: 1fr 1fr auto;
      grid-template-columns: 2fr 1fr;
    }
    @media screen and (max-width: 600px){
      grid-template-areas:  "slide"
                            "sale"
                            "part";
      grid-template-rows: 74vw 69vw 1fr;
    }
  }
  &--news {
    padding: 0 5%;
  }
}

.container-mobile {
  height: 100%;
  width: calc(80vw + 45px);
  margin: auto;
  max-width: 95vw;
  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 100vw;
    left: 0;
    top: 54px;
    background-color: #e2e2e2;
  }
}

@import "./header.scss";
@import "./topblock.scss";
@import "./news.scss";
