@import "../../node_modules/normalize.css/normalize.css";
@import "./fonts.scss";
@import "./links.scss";
@import "../../node_modules/@glidejs/glide/dist/css/glide.core.min.css";

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
*:focus {
  outline: 2px solid rgba(255,255,255,0.5);
}

html {
  font-family: "Myriad", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1;
}

body {
  background-color: #f3f2f2;
  color: #121212;
  min-height: 200vh;
}

.container {
  margin: auto;
  width: calc(50vw + 580px);
  max-width: 1545px;
  @media screen and (max-width: 1200px) {
    max-width: 95vw;
  }
  height: 100%;
}

@import "./header.scss";

