.top-block {
  padding-top: 232px;
  margin-bottom: 100px;
  background-color: #f5f2f2;
  @media screen and (max-width: 900px) {
    padding-top: 0;
    margin-bottom: 75px;
  }
  .navigation {
    grid-area: nav;
    @media screen and (max-width: 600px) {
      display: none;
    }
    justify-self: stretch;
    display: flex;
    flex-direction: column;
    &__title {
      font-size: 1.5rem;
      color: #ffaf2d;
      background-color: #fff;
      padding: 33px 21px 18px 28px;
    }
    &__list {
      list-style: none; 
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;
    }
    &__el {
      background-color: #fff;
      border-bottom: 1px solid #f1f1f1;
      flex: 1 0 auto;
      &:last-of-type {
        border-bottom: none;
      }
    }
    &__el-link {
      font-family: "Myriad SemiExtended", sans-serif;
      color: #303030;
      padding: 10px 21px 10px 28px;
      width: 100%;
      height: 100%;
      display: inline-block;
      position: relative;
      &::after {
        content: '>';
        color: #777;
        font-size: 0.875rem;
        position: absolute;
        right: 21px;
      }
    }
  }
  .portfolio {
    max-width: 900px;
    grid-area: slide;
    position: relative;
    @media screen and (max-width: 1800px){
      max-width: 50vw;
    }
    @media screen and (max-width: 1200px) {
      max-width: 95vw;
    }
    @media screen and (max-width: 600px) {
      font-size: 0.85rem;
      transform: scale(1.053);
      top: calc(0.053/2*74vw);
      margin-bottom: calc(0.053*74vw);
    }
    @media screen and (max-width: 480px) {
      font-size: 0.6rem;
    }
    &__list {
      height: 100%;
    }
    &__track {
      height: 100%;
    }
    &__wrapper {
      height: 100%;
    }
    &__el {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      height: 100%;
      padding: 20px 0 20px 22px;
      &--mephi {
        background: #232323 url(../img/mephi.png) no-repeat bottom right -14% / 55%;
      }
      &--furnishing {
        background: #232323 url(../img/furnishing.png) no-repeat center right 10% / contain;
      }
      &--hospital {
        background: #232323 url(../img/hospital.png) no-repeat bottom right -14% / 55%;
      }
      &--restaurant {
        background: #232323 url(../img/restaurant.png) no-repeat center right -50% / contain;
      }
    }
    &__el-sign {
      display: block;
      font-family: "Myriad SemiExtended", sans-serif;
      color: #777777;
    }
    &__el-title {
      font-size: 2.5em;
      color: #f3f1f1;
      max-width: 50%;
    }
    &__el-description {
      font-size: 1.125em;
      color: #fff;
      font-family: "Myriad SemiExtended", sans-serif;
      max-width: 50%;
    }
    &__el-more-btn {
      padding: 8px 20px;
      font-size: 1.125em;
      color: #fff;
      background-color: #ffaf2d;
      border-radius: 18px;
    }
    
    &__bullets {
      position: absolute;
      bottom: 12px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 5;
      .glide__bullet--active {
        background-color: #fff;
      }
    }
    &__bullet {
      transition: all 0.2s ease;
      width: 10px;
      height: 10px;
      border: 1px solid #fff;
      border-radius: 50%;
      background-color: transparent;
      opacity: 0.5;
      &:not(:last-of-type) {
        margin-right: 5px;
      }
    }
    &__arrow {
      position: absolute;
      bottom: 12px;
      background-color: transparent;
      border: none;
      transform: scaleY(2);
      color: #fff;
      opacity: 0.5;
      z-index: -1;
      @media screen and (max-width: 900px) {
        z-index: 1;
      }
      &--left {
        left: 25px;
      }
      &--right {
        right: 25px;
      }
    }
  }
  .sale {
    grid-area: sale;
    border-radius: 2px;
    border: 2px solid #ffaf2d;
    background-color: #ffffff;
    padding: 20px 44px 20px 20px;
    justify-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: space-evenly;
    font-family: "Myriad SemiExtended", sans-serif;
    min-height: 476px;
    @media screen and (max-width: 600px) {
      min-height: 238px;
    }
    &__img-wrapper {
      flex: 20 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    &__top-text {
      display: block;
      font-size: 1.125rem;
      flex: 1 1 auto;
    }
    &__title {
      font-family: "Myriad", "Helvetica Neue", Helvetica, sans-serif;
      font-size: 2.5rem;
      flex: 2 1 auto;
    }
    &__link {
      color: #ffaf2d;
      font-size: 1rem;
      position: relative;
      flex: 2 1 auto;
      &::after {
        content: '>';
        position: absolute;
        right: -15px;
      }
    }
  }
  .partners {
    grid-area: part;
    width: 100%;
    &__list {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
    }
    &__el {
      flex: 1 0 150px;
      background-color: #fff;
    }
    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 0;
      width: 100%;
      height: 100%;
      font-size: 1.125rem;
      color: #232323;
    }
  }
}